.list {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/*hide the scrollbar until using*/
::-webkit-scrollbar {
  width: 5px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px;
}
